@font-face {
    font-family: Sarabun;
    src: url('../fonts/Sarabun-Regular.ttf') format('truetype');
}

html, body {
    font-family: Sarabun;
}

.navbarColor {
    background-color: #080141;
}

.bgColor {
    background-color: #090061;
    box-shadow: 0px 0px 6px 1px black;
}

.textBlock {
    border-radius: 5px;
    background-color: #E9ECEF;
    box-shadow: 0px 0px 2px 0px black;
    padding-top: 1rem;
    padding-bottom: 0.4rem;
}

@media (max-width: 600px) {
    .textBlock {
        border-radius: 0px;
    }
}

.imgBlock {
    border-radius: 5px;
    background-color: white;
    border: 1px solid black;
    padding-top: 1rem;
    color: black;
    font-weight: bold;
    margin-bottom: 1rem;
}

.btnColor {
    background-color: #090061;
    color: white;
}

.btnColor:hover {
    color: white;
    box-shadow: 0px 0px 8px 0px black;
}